.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(228, 223, 223);
}

.nav > img {
    width: 70px;
}

.nav > p {
    font-weight: bold;
}