.app {
  margin: 0 50px;
}

.form {
  margin: 20px 0px;
}

.form_control {
  width: 100%;
  display: flex;
  flex-direction: row !important;
  align-items: center;
  justify-content: center;
}

.form_input {
  flex: 1;
}

.icon_button:hover {
  color: #1B74E4;
}